.wrapper {
    margin-bottom: 16px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

}

.group {
    display: flex;
    div {
        padding-right: 30px;
    }
}