
$fds : #9DA8BA;
$white-color: #FFFFFF;
$blue-light: #2A7BE4;
$gray-800: #4D5969;
$gray-900: #344050;
$gray-mid: #6F7885;
$gray-light: #94979C;
$gray-200: #EDF2F8;
$black-color: #000000;
$gray-light-shadow: #D9D9D9  22%;
$red-light: #F63A3A;
$red-color: #FF0000;